mixin backLink(backTxt="back")
  a(onclick="history.back(-1)")= backTxt

doctype html
html
  head
    block more-head
    block title
      title demo-project(todo)
    
    link(rel="stylesheet" href="/style/global.css")

  block body